body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}
h1 {
  color: #EB0028;
  font-size: 42px;
}
h2 {
  color: #000000;
  font-size: 24px;
}
p {
  color: #444;
  font-size: 18px;
} 
